<section id="portfolio">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <p class="custom-p-small mt-5 mb-5">PORTFOLIO</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mx-auto text-center">
                <h2 class="custom-h2 mb-5 mt-5 animated-text">
                    <%= translation.completeOrders %>
                </h2>
            </div>
        </div>
    </div>
    <div class="custom-container mt-5">
        <div class="row mb-0 mb-md-5">
            <div class="col-12 col-md-6 col-lg-3">
                <img src="img/portfolio/01.png" style="width: 100%; max-width: 400px;" class="img-fluid"
                    alt="Hochzeitskleid" loading="lazy">
            </div>
            <div
                class="col-12 col-md-6 col-lg-3 pt-5 pt-md-0 text-end text-lg-start align-self-center parallax-portfolio-container">
                <img src="img/portfolio/02.png" style="width: 100%; max-width: 250px;"
                    class="img-fluid parallax-portfolio" alt="Brautschleier" loading="lazy">
            </div>
            <div class="col-12 col-lg-6 align-self-end text-end pt-5">
                <img src="img/portfolio/03.png" style="width: 100%; max-width: 100%;" class="img-fluid"
                    alt="VORHÄNGENÄHEREI" loading="lazy">
            </div>
        </div>
        <div class="row mt-0 mt-md-5 mb-5">
            <div class="col-12 col-md-6 col-lg-2 align-self-center mt-5 parallax-portfolio-container">
                <img src="img/portfolio/04.png" style="width: 100%; max-width: 300px;"
                    class="img-fluid parallax-portfolio" alt="VORHÄNGENÄHEREI" loading="lazy">
            </div>
            <div
                class="col-12 col-md-6 col-lg-4 text-end text-md-start align-items-start ps-4 pt-0 pt-md-4 pb-5 pb-md-4 pe-0 pe-md-3 mt-5">
                <img src="img/portfolio/05.png" style="width: 100%; max-width: 450px;" class="img-fluid"
                    alt="VORHÄNGENÄHEREI" loading="lazy">
            </div>
            <div class="col-12 col-md-6 col-lg-3 order-2 order-lg-3 align-self-center text-center custom-ps mt-5">
                <a class="custom-p-small link-dark link-underline link-underline-opacity-0 elliptical-link me-2 custom-underline caps"
                    href="/heimtextilien""><%= translation.portfolioLink %></a>
                <a href=" /heimtextilien" class="link-dark link-underline link-underline-opacity-0"><svg
                        xmlns=" http://www.w3.org/2000/svg" width="25" viewBox="0 0 52 40" fill="none">
                        <path
                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                            stroke="#2C2C2C"></path>
                    </svg></a>
            </div>
            <div
                class="col-12 col-md-6 col-lg-3 order-lg-4 align-self-end text-start text-lg-end mb-5 mb-md-0 parallax-portfolio-container">
                <img src="img/portfolio/06.png" style="width: 100%; max-width: 350px;"
                    class="img-fluid parallax-portfolio" alt="VORHÄNGENÄHEREI" loading="lazy">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto text-center mt-5">
                <h2 class="custom-h2 mb-5 animated-text">
                    <%= translation.portfolioContact %>
                </h2>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-3 mx-auto text-center mt-5">
                <div class="elliptical-link-container">
                    <div class="ellipse ellipse-second"></div>
                    <div class="ellipse ellipse-btn"></div>
                    <a class="custom-p elliptical-link" href="#contact"><b><%- translation.buttonText %></b></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5">
                <p class="custom-p-small"><%- translation.rabbat %>
                </p>
            </div>
        </div>
    </div>
</section>