<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <%- include('./includes/cover.ejs') %>
                <%- include('./includes/service.ejs') %>

                    <section id="vorteile">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-6 mx-auto text-center mt-5">
                                    <p class="custom-p-small fs-9 mt-5 caps">
                                        <%= translation.vorteile %>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mx-auto text-center mt-5 mb-5">
                                    <h2 class="custom-h2 animated-text">
                                        <%= coverTopic.vorTitle %>
                                    </h2>
                                </div>
                            </div>
                            <div class="row justify-content-md-center justify-content-xl-end animated-text">
                                <div class="col-12 col-lg-6 text-start mt-0 mt-xl-5 mb-4">
                                    <div class="row justify-content-start align-items-center">
                                        <div class="col-auto me-5 d-none d-lg-block">
                                            <div class="elliptical-link-container">
                                                <div class="ellipse ellipse-arrow"></div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40"
                                                    viewBox="0 0 52 40" fill="none" class="d-none d-md-block">
                                                    <path
                                                        d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                                        stroke="#2C2C2C"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-auto text-start">
                                            <h2 class="custom-h2-small" style="margin-bottom: 0;"><%-
                                                    coverTopic.vor1Title %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center justify-content-xl-end animated-text">
                                <div class="col-12 col-lg-6 col-xl-4 text-start mb-5">
                                    <p class="custom-p-small">
                                        <%= coverTopic.vor1Desc %>
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center animated-text">
                                <div class="col-12 col-lg-6 col-xl-9 text-start mb-4">
                                    <div class="row justify-content-start align-items-center">
                                        <div class="col-auto me-5 d-none d-lg-block">
                                            <div class="elliptical-link-container">
                                                <div class="ellipse ellipse-arrow"></div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40"
                                                    viewBox="0 0 52 40" fill="none" class="d-none d-md-block">
                                                    <path
                                                        d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                                        stroke="#2C2C2C"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-auto text-start">
                                            <h2 class="custom-h2-small" style="margin-bottom: 0;">
                                                <%- coverTopic.vor2Title %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center animated-text">
                                <div class="col-12 col-lg-6 col-xl-4 text-start mb-5">
                                    <p class="custom-p-small"><%- coverTopic.vor2Desc %></p>
                                </div>
                            </div>
                            <div class="row justify-content-md-center justify-content-xl-end animated-text">
                                <div class="col-12 col-lg-6 text-start mb-4">
                                    <div class="row justify-content-start align-items-center">
                                        <div class="col-auto me-5 d-none d-lg-block">
                                            <div class="elliptical-link-container">
                                                <div class="ellipse ellipse-arrow"></div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40"
                                                    viewBox="0 0 52 40" fill="none" class="d-none d-md-block">
                                                    <path
                                                        d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                                        stroke="#2C2C2C"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-auto text-start">
                                            <h2 class="custom-h2-small" style="margin-bottom: 0;"><%-
                                                    coverTopic.vor3Title %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center justify-content-xl-end animated-text">
                                <div class="col-12 col-lg-6 col-xl-4 text-start mb-5">
                                    <p class="custom-p-small"><%- coverTopic.vor3Desc %></p>
                                </div>
                            </div>
                            <div class="row justify-content-center animated-text">
                                <div class="col-12 col-lg-6 col-xl-9 text-start mb-4">
                                    <div class="row justify-content-start align-items-center">
                                        <div class="col-auto me-5 d-none d-lg-block">
                                            <div class="elliptical-link-container">
                                                <div class="ellipse ellipse-arrow"></div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40"
                                                    viewBox="0 0 52 40" fill="none" class="d-none d-md-block">
                                                    <path
                                                        d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                                        stroke="#2C2C2C"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-auto text-start">
                                            <h2 class="custom-h2-small" style="margin-bottom: 0;"><%-
                                                    coverTopic.vor4Title %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center animated-text">
                                <div class="col-12 col-lg-6 col-xl-4 text-start mb-5">
                                    <p class="custom-p-small"><%- coverTopic.vor4Desc %></p>
                                </div>
                            </div>
                            <div class="row justify-content-md-center justify-content-xl-end animated-text">
                                <div class="col-12 col-lg-6 text-start mb-4">
                                    <div class="row justify-content-start align-items-center">
                                        <div class="col-auto me-5 d-none d-lg-block">
                                            <div class="elliptical-link-container">
                                                <div class="ellipse ellipse-arrow"></div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40"
                                                    viewBox="0 0 52 40" fill="none" class="d-none d-md-block">
                                                    <path
                                                        d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                                        stroke="#2C2C2C"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-auto text-start">
                                            <h2 class="custom-h2-small" style="margin-bottom: 0;"><%-
                                                    coverTopic.vor5Title %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center justify-content-xl-end animated-text">
                                <div class="col-12 col-lg-6 col-xl-4 text-start mb-5">
                                    <p class="custom-p-small"><%- coverTopic.vor5Desc %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <%- include('./includes/portfolio.ejs') %>
                        <%- include('./includes/testimonials.ejs') %>
                            <%- include('./includes/instagram.ejs') %>
                                <%- include('./includes/contact.ejs') %>
                                    <%- include('./includes/footer.ejs') %>