<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <%- include('./includes/cover.ejs') %>
                <section id="service">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mx-auto text-center mt-5">
                                <p class="custom-p-small fs-9 mt-5">SERVICES</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mx-auto text-center mt-5">
                                <a class="display-1 custom-h2 link-dark link-underline link-underline-opacity-0 custom-underline animated-text"
                                    href="/heimtextilien">
                                    <%= translation.heimtextilien %>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mx-auto text-center mt-5">
                                <a class="display-1 custom-h2 link-dark link-underline link-underline-opacity-0 custom-underline animated-text"
                                    href="/kleideranfertigung">
                                    <%= translation.kleidung %>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mx-auto text-center mt-5">
                                <a class="display-1 custom-h2 link-dark link-underline link-underline-opacity-0 custom-underline animated-text"
                                    href="/horeca">HoReCA</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="vorteile">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mx-auto text-center mt-5">
                                <p class="custom-p-small fs-9 mt-5 caps">
                                    <%= translation.vorteile %>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mx-auto text-center mt-5">
                                <h2 class="custom-h2 animated-text">
                                    <%= translation.vorteileTitle %>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="container">
                            <div class="row justify-content-md-center animated-text">
                                <div
                                    class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                                    <h2 class="caps">
                                        <%= translation.vor1Title %>
                                    </h2>
                                </div>
                                <div
                                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40"
                                        fill="none" class="d-none d-md-block">
                                        <path
                                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                            stroke="#2C2C2C"></path>
                                    </svg>
                                </div>
                                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                                    <h3 class="caps">
                                        <%= translation.vor1Desc %>
                                    </h3>
                                    <p class="custom-p-small">
                                        <%= translation.vor1Text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-md-center animated-text">
                                <div
                                    class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                                    <h2 class="caps"><%- translation.vor2Title %></h2>
                                </div>
                                <div
                                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40"
                                        fill="none" class="d-none d-md-block">
                                        <path
                                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                            stroke="#2C2C2C"></path>
                                    </svg>
                                </div>
                                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                                    <h3 class="caps">
                                        <%= translation.vor2Desc %>
                                    </h3>
                                    <p class="custom-p-small">
                                        <%= translation.vor2Text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-md-center animated-text">
                                <div
                                    class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                                    <h2 class="caps"><%- translation.vor3Title %></h2>
                                </div>
                                <div
                                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40"
                                        fill="none" class="d-none d-md-block">
                                        <path
                                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                            stroke="#2C2C2C"></path>
                                    </svg>
                                </div>
                                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                                    <h3 class="caps">
                                        <%= translation.vor3Desc %>
                                    </h3>
                                    <p class="custom-p-small">
                                        <%= translation.vor3Text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-md-center animated-text">
                                <div
                                    class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                                    <h2 class="caps"><%- translation.vor4Title %></h2>
                                </div>
                                <div
                                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40"
                                        fill="none" class="d-none d-md-block">
                                        <path
                                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                            stroke="#2C2C2C"></path>
                                    </svg>
                                </div>
                                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                                    <h3 class="caps">
                                        <%= translation.vor4Desc %>
                                    </h3>
                                    <p class="custom-p-small">
                                        <%= translation.vor4Text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-md-center animated-text">
                                <div
                                    class="col-md-4 mx-auto text-center d-flex align-items-center justify-content-center mt-5">
                                    <h2 class="caps"><%- translation.vor5Title %></h2>
                                </div>
                                <div
                                    class="col-md-4 mx-auto text-center d-none d-md-flex align-items-center justify-content-center mt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="40" viewBox="0 0 52 40"
                                        fill="none" class="d-none d-md-block">
                                        <path
                                            d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                            stroke="#2C2C2C"></path>
                                    </svg>
                                </div>
                                <div class="col-md-4 mx-auto text-center text-md-start mt-5">
                                    <h3 class="caps">
                                        <%= translation.vor5Desc %>
                                    </h3>
                                    <p class="custom-p-small">
                                        <%= translation.vor5Text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mx-auto text-center mt-5">
                                <p class="custom-p-small mt-5 caps">
                                    <%= translation.about %>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mx-auto text-center mt-5 animated-text">
                                <h2 class="custom-h2 mb-1">
                                    <%= translation.aboutTitle %>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-5 mb-5">
                        <div class="row justify-content-md-center">
                            <div
                                class="col-7 col-lg-4 mx-auto text-center d-flex align-items-center justify-content-center mt-2">
                                <div class="elliptical-link-container elliptical-link-container-big">
                                    <div class="ellipse ellipse-big"></div>
                                    <img class="rotate-15 img-fluid elliptical-link" style="width: 100%;"
                                        src="img/me.png" alt="Design Studio">
                                </div>
                            </div>
                            <div class="col-11 col-md-7 col-lg-4 mx-auto mt-5 text-center text-lg-start">
                                <h3 class="caps">
                                    <%- translation.aboutGreetings %>
                                        </h2>
                                        <p class="custom-p-small"><%- translation.aboutText %></p>
                                        <a class="custom-p link-dark link-underline link-underline-opacity-0 elliptical-link custom-underline me-2 caps"
                                            href="/myself">
                                            <%= translation.mehr %>
                                        </a>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" viewBox="0 0 52 40"
                                            fill="none">
                                            <path
                                                d="M2.38498e-07 20L52 20M52 20C34.6667 20 32.1905 12.5 32.1905 3.83868e-07M52 20C34.6667 20 32.1905 27.5 32.1905 40"
                                                stroke="#2C2C2C"></path>
                                        </svg>

                            </div>
                        </div>
                    </div>
                    <div class="container mt-5 d-none d-xl-block">
                        <div class="row">
                            <div class="col-md-12 mx-auto text-center">
                                <h2 class="custom-h2">
                                    <%= translation.aboutBottom1 %> <span class="img-placeholder"
                                            data-src="img/cloth.png"></span>
                                        <%= translation.aboutBottom2 %>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mx-auto text-center">
                                <h2 class="custom-h2">
                                    <%= translation.aboutBottom3 %>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mx-auto text-center">
                                <h2 class="custom-h2">
                                    <%= translation.aboutBottom4 %> <span class="img-placeholder"
                                            data-src="img/cloth-2.png"></span>
                                        <%= translation.aboutBottom5 %>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mx-auto text-center">
                                <h2 class="custom-h2">
                                    <%= translation.aboutBottom6 %> <span class="img-placeholder"
                                            data-src="img/cloth-3.png"></span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </section> <%- include('./includes/portfolio.ejs') %>
                    <div class="parallax-bg"></div>
                    <%- include('./includes/testimonials.ejs') %>
                        <%- include('./includes/instagram.ejs') %>
                            <%- include('./includes/contact.ejs') %>
                                <%- include('./includes/footer.ejs') %>