<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <%- include('./includes/contact.ejs') %>
                <%- include('./includes/instagram.ejs') %>
                    <div class="container custom-mb"></div>
                    <%- include('./includes/footer.ejs') %>